* {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: #4b4e50;
}

/* HEADER STYLIZATION */

header h1, h3 {
    font-family: 'Raleway', sans-serif;
}

header h1 {
    font-weight: 700;
    font-size: 4rem;
    color: #307820;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

header i {
    color: #4b4e50;
    padding-top: 1.11%;
    padding-bottom: 1%;
}

#current-time {
    padding-bottom: 0.8%;
}

/* TIME-SLOTS HEADER STYLIZATIONS */

h3 {
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #509048;
}

/* TIME SLOT STYLIZATION */

h4, .save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

input {
    border: none;
    margin-bottom: 0.2rem;
    font-size: 60%;
    text-align: left;
    height: 4rem;
    overflow: scroll;
    opacity: 0.9;
    color: #eee;
}

input:hover {
    opacity: 1;
    cursor: pointer;
}

.save-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* FOOTER STYLIZATION */

footer {
    margin-top: 10%;
    opacity: 0.9;
}

footer nav {
    padding: 1%;
    background: #307820;
} 

footer i {
    background: #307820;
    color: #eee;
}

